tkinter==8.6
sqlite3==3.33.0
shutil==3.3.0
Logging==0.5.1.2
sys==3.3.0
seaborn==0.11.1
matplotlib.pyplot==3.3.0
requests==2.25.1
filedialog==3.3.0
requests==2.25.1
pandas==1.1.5
customtkinter==0.0.1
beautifulsoup4==4.9.3
python-docx==0.8.10
random==3.3.0